<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Game</title>
    <link rel="stylesheet" href="../public/css/titleStyle.css">
</head>
<body>
    <div class="container" >

       
        
        <!-- <img class="background" src="./img/hills.png" alt="startingImage"> -->
        <header class="centeredup">Food Run</header>
        
        
        <!-- starting button -->
        <div class="button1">
            <button class="centeredL startButton">START</button>
            <div class="center">
                <button class="centeredR" onclick="toggleLogin()">LOGIN</button>
                <div class="overlay">
                    <div class="close">
                    <button onclick="toggleExit()">Cancel</button>
                </div>
                    <div class="login">
                        <div class="header">
                            <h1>Login</h1>
                            <i class="fas fa-times" onclick="toggleLogin()"></i>
                        </div>
                        <div class="login-form">
                            <form action="#" class="form">
                                <label for="username-login"></label>
                                <input type="text" placeholder="Username"/>
                                <label for="password-login"></label>
                                <input type="password" placeholder="Password"/>
                            </form>
                        </div>
                        <div class="footer">
                            <button>Login</button>
                        </div>
                        <div class="header">
                            <h1>Signup</h1>
                            <i class="fas fa-times" onclick="toggleLogin()"></i>
                        </div>
                        <div class="login-form">
                            <form action="#" class="signup-form">
                                <label for="username-signup"></label>
                                <input type="text" placeholder="Username" />
                                <label for="password-signup"></label>
                                <input type="password" placeholder="Password" />
                            </form>
                        </div>
                        <div class="footer">
                            <button>Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- the player -->
        <div class="character">
            <img class="bottomLeft" src="../img/playerRun.png" alt="player">
        </div>
    </div>
</body>

</html>

<script>
    function toggleLogin() {
        document.querySelector(".overlay").classList.toggle("open");
    }
    function toggleExit() {
        document.querySelector(".overlay").classList.remove("open");
    }
</script>