<div class="center">
  <div class="overlay">
    <div class="close">
      <button onclick="toggleExit()">Cancel</button>
    </div>
    <div class="login">
      <div class="header">
        <h1>Login</h1>
        <i class="fas fa-times" onclick="toggleLogin()"></i>
      </div>

      <form class="form login-form" id="login-form">
        <div class="body">
          <form action="#" class="form">
            <label for="username-login"></label>
            <input type="text" placeholder="username" />
            <label for="password-login"></label>
            <input type="password" placeholder="Password" />
          </form>
        </div>
      </form>

      <div class="footer">
        <button type="submit">Login!</button>
      </div>

      <div class="header">
        <h1>Sign-up</h1>
        <i class="fas fa-times" onclick="toggleLogin()"></i>
      </div>

      <form class="form signup-form" id="signup-form">
        <div class="body">
          <form action="#" class="form">
            <label for="username-signup"></label>
            <input type="text" id="username-signup" placeholder="username-signup" />
            <label for="password-signup"></label>
            <input type="password" id="password-signup" placeholder="Password-signup" />
            <div class="footer">
              <button type="submit">Sign-Up!</button>
            </div>
          </form>
        </div>
      </form>


    </div>
  </div>
</div>

<script src="/js/login.js"></script>