<div class="container">

  <header class="centeredup">Food Run</header>

  {{#if loggedIn}}
  <!-- starting button -->
  <div class="button1">
    <a class="centeredL startButton" href="/game">START</a>
  </div>
  {{else}}
  {{!-- login button --}}
  <button class="centeredR" onclick="toggleLogin()">LOGIN</button>
  {{> login}}
  {{/if}}

  <!-- the player -->
  <div class="character">
    <img class="bottomLeft" src="/img/playerRun.png" alt="player" />
  </div>
</div>

<script>
  const overlayEl = document.querySelector(".overlay");
  const canvasEl = document.querySelector("#canvas");
  const containerEl = document.querySelector(".container");
  const endScreenEl = document.querySelector(".endscreen");

  function toggleLogin() {
    if (overlayEl) overlayEl.classList.toggle("open");
  }
  function toggleExit() {
    if (overlayEl) overlayEl.classList.remove("open");
  }
  function toggleScreen() {
    if (canvasEl) canvasEl.style.display = null;
    if (containerEl) containerEl.style.display = 'none';
    if (endScreenEl) endScreenEl.style.display = 'none';
  }
</script>