body{
    background-color: black;
    color: limegreen;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

