body {
    background-color: #222;
    color: limegreen;
    font-family: 'Press Start 2P', cursive;
    font-size: 125%;
    font-weight: bold;
}

header {
    padding-top: 25px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.character {
    display: flex;
    justify-content: center;
}

.card-body {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.restartButton {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 175px;
    padding: 10px;
    background-color: limegreen;
    color: #222;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

@media screen and (orientation:landscape) {
    /* // CSS applied when the device is in landscape mode */
}