body{
    background-color: black;
    color: limegreen;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Games', sans-serif;
    font-size: 150%;
    font-weight: bold;
}

restartButton {
    text-decoration: none;
}

 @media screen and (orientation:landscape) {
    /* // CSS applied when the device is in landscape mode */
}