*,
html {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  height: 100vh;
}

body div {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 300%;
  width: 300%;
  background-image: url('/assets/city.png');
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
  background-repeat: repeat-x;
  /* animation: slide 10s linear infinite; */
}

/* #canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
} */

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-2000px);
  }
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@media screen and (orientation:landscape) {
  /* // CSS applied when the device is in landscape mode */
}