header{
    font-size: xx-large;
    font-weight: bold;
}

body {
    background-image: url(../../img/hills.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;
    text-align: center;
 
  }

.centeredL{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.centeredR{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.centeredup{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottomLeft {
    position: absolute;
    bottom: 10px;
    left: 16px;
  }

  /*login popup styling starts here*/

  .close button {
    position: absolute;
    font-size: 15px;
    padding: 10px;
    min-width: 20px;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
    background: #000051;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.4s;
  }

  .overlay {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
  }
  
  .overlay.open {
    display: flex;
    animation: show-overlay 0.5s;
  }
  
  @keyframes show-overlay {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .login {
    padding: 50px 25px;
    background: white;
    border-radius: 10px;
  }
  
  .header {
    position: relative;
  }
  
  .header h1 {
    text-align: center;
    text-transform: uppercase;
    color: #000051;
    padding-bottom: 7px;
    border-bottom: 2px solid #000051;
  }
  
  .header i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: #000051;
  }
  
  .login-form .form .signup-form input {
    display: block;
    padding: 10px;
    margin: 25px 10px;
    outline: none;
    border: solid #000051 1px;
    color: #000051;
    transition: 0.4s;
  }
  
  .login-form .form .signup-form input:focus {
    border-color: #534bae;
  }
  
  .footer {
    position: relative;
    height: 40px;
    width: 100%;
  }
  
  .footer button {
    position: absolute;
    padding: 10px;
    min-width: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #000051;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .footer button:hover {
    background: #534bae;
  }

  .close button:hover {
    background: #534bae;
  }

  @media screen and (orientation:landscape) {
    /* // CSS applied when the device is in landscape mode */
}