header{
    font-size: xx-large;
    font-weight: bold;
}

body {
    background-image: url(./img/hills.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;
    text-align: center;
 
  }

.centeredL{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.centeredR{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}
.centeredup{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottomLeft {
    position: absolute;
    bottom: 10px;
    left: 16px;
  }
  @media screen and (orientation:landscape) {
    /* // CSS applied when the device is in landscape mode */
}